name: CI/CD Pipeline

on:
  push:
    branches: [ main, stage-1, stage-2 ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:15-alpine
        env:
          POSTGRES_DB: warehouse_db
          POSTGRES_USER: warehouse_user
          POSTGRES_PASSWORD: warehouse_pass
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U warehouse_user -d warehouse_db"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build & Test with Maven
        run: mvn -B clean verify
        env:
          SPRING_DATASOURCE_URL: jdbc:postgresql://localhost:5432/warehouse_db
          SPRING_DATASOURCE_USERNAME: warehouse_user
          SPRING_DATASOURCE_PASSWORD: warehouse_pass

      - name: Upload artifact (JAR)
        uses: actions/upload-artifact@v4
        with:
          name: military-api-jar
          path: target/*.jar
