stages:
  - build
  - test

variables:
  POSTGRES_DB: warehouse_db
  POSTGRES_USER: warehouse_user
  POSTGRES_PASSWORD: warehouse_pass
  POSTGRES_HOST: postgres

cache:
  paths:
    - .m2/repository
    - target/

build:
  stage: build
  image: maven:3.8.8-eclipse-temurin-17
  services:
    - postgres:15-alpine
  script:
    - mvn -B clean compile
  only:
    - main
    - stage-1
    - stage-2

test:
  test:
  stage: test
  image: maven:3.8.8-eclipse-temurin-17
  services:
    - postgres:15-alpine
  script:
    - mvn -B clean verify
  artifacts:
    when: always
    reports:
      junit: target/surefire-reports/*.xml
  only:
    - main
    - stage-1
    - stage-2
